
<h1>Product</h1>
<section class="products">
  <ng-container *ngFor="let product of products">

    <div (click)="clickProduct(product.id)" class="product-card" *ngIf="!filterByCategory || filterByCategory == product.category">
      <div class="product-image">
        <a routerLink="/product/{{product.id}}">
          <img [src]="product.image"/>
        </a>
      </div>
      <div class="product-info">
        <h5>{{product.title}}</h5>
        <h6>{{product.price}} $</h6>
      </div>
    </div>

  </ng-container>
</section>

